* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 5%;
  top: 5%;
  width: 90%;
  height: 50%;
  overflow: auto;
  border: solid black;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  background: lightcyan;
}

button {
  cursor: pointer;
  color: azure;
  background-color:blue;
  border-radius: 6px;
  margin: 10px;
  padding: 8px;
  border: 0;
  
  }
  
  button:hover {
  background-color:darkviolet;
  }

  #delete-button {
    cursor: pointer;
    color: azure;
    background-color: red;
    border-radius: 6px;
    margin-left: 50px;
    padding: 8px;

  }
 #result-container {
  display: inline-flex;
  gap: 165px;

 }

  #youtubeResultBox,
  #wikiResultBox {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  height: fit-content;
  border: 5px solid black;
  padding: 1%;
  }

  h3.searchTitle{
 text-align: right;
 font-size: xx-large;
 font-weight: 900;
 color:crimson;
 margin-right: 125px;
 margin-left: 120px;
  }

  h3#list-all {
  font-size: xx-large;
  margin-left: 25px;
  margin-top: 50px;
  }

  h1, #titlePage {
  text-align: center;
  
  }

  h1 {
  color:mediumblue
  }

.buttons {
  display: inline;
}

#returnToSearchBtn {
margin-left: 480px;
}

h3.searchTitle1{
  text-align: right;
  font-size: xx-large;
  font-weight: 900;
  color:crimson;
  margin-left: 460px;
   }

   h3 {
    display: inline-block;
  }

  #seeList-button {
    margin-left: 47%;
  }

  .card-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    margin: 1%;
  }